<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 <mapper namespace="com.example.lesson03.dao.ReviewMapper">
 	
 	<!--  bo요청으로 dao통해 여기서 수행  -->
 	<select id="selectReview" parameterType="int" resultType="com.example.lesson03.model.Review"> 
 		SELECT   <!-- 실무에서는 * 표시 안쓰고 무조건 다 일일히 쓴다 - 에러 가능성 방지 -->
 			`id`
			, `storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
		FROM `new_review`
		WHERE 
			`id` = #{id}
 	</select>
 
 	<!-- ex02 
 	파라미터타입에 - Review클래스 객체? review 리뷰클래스주소 써주기
 	여기선 resultType은 쓰지 않는다 오히려 에러남
 	resultType은 select에서만 씀 / insert update delete 시 쓰지 않는다-->
	<insert id="insertReview" parameterType="com.example.lesson03.model.Review">
		INSERT INTO `new_review`
		( <!-- id는(알아서됨) 빼고. 시간은 원래 관례적으로 같이 넣음 -->
		<!-- 중간에 안 넣는게 있더라도 필드명 다 써야 -->
			`storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{storeId}
			, #{menu}
			, #{userName}
			, #{point}
			, #{review}
			, NOW()
			, NOW()
		)
	</insert> 	
	
	
	<!--ex02_2 
	위와다름 위는 review가 넘어왔다면 이번엔 map이 넘어옴-->
	<insert id="insertReviewAsField" parameterType="map">
			INSERT INTO `new_review`
		( 
			`storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{storeId}
			, #{menu}
			, #{userName}
			, #{point}
			, #{review}
			, NOW()
			, NOW()
		)
	</insert>
 
 </mapper>