<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 <mapper namespace="com.example.lesson04.dao.UserMapper">
 	
 	<insert id="insertUserAsField" parameterType="map">
 		INSERT INTO `new_user`
 		(
 			<!-- id 는 파라미터 안 받는거라서 뺴고 씀  
 			/ createdAt등 시간은 따로 안받아도 걍 여기서
 			NOW() 해주면 되는 것이고-->
			`name`
			, `yyyymmdd`
			, `email`
			, `introduce`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			<!-- #{id} -->
 			#{name}
 			, #{yyyymmdd}
 			, #{email}
 			, #{introduce}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 
 	<!-- select는 resultType반드시 명시, 파라미터는안받으므로 안써도됨  , 모두 가져오기 모든 필드 -->
 	<select id="selectLatestUser" resultType="com.example.lesson04.model.User">
 		SELECT
 			`id`
 			,`name`
			, `yyyymmdd`
			, `email`
			, `introduce`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`new_user`
 		ORDER BY `id` DESC
 		LIMIT 1
 		<!-- LIMIT 1 :최신 한명만 가져옴 -->
 	</select>
 
 
 	<!-- user 중복 확인 
 	result boolean  0이면 거짓 그외에는 다 참-->
 	<select id="existUserByName" parameterType="string" resultType="boolean"> 
 		SELECT
 			COUNT(1)
 			<!-- 1이든 * 넣든 -->
 		FROM
 			`new_user`
 		WHERE
 			`name` = #{name}
 			<!-- name이 이거면 count를 센다 -->
 	</select>
 
 </mapper>